/* RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

/* POUR TOUT LES LIENS */
a {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* POUR TOUT LES PARAGRAPHES */
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* _____________________________________________HEADER_____________________________________________ */

header {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

/* ---------TITRE HEADER (Jérémy) */
#titre_header {
    font-size: 1.5em;
    color: beige;
    text-decoration: none;
    margin-top: 0.7%;
    text-shadow: 2px 2px 2px black;
    font-family: none;
}

#titre_header:hover {
    color: rgb(158, 164, 171);
    text-shadow: 2px 2px 2px black;
}

/* -------------MENU DE NAVIGATION */
#nav_header {
    width: 32%;
    margin-top: 1.3%;
    text-shadow: 2px 2px 2px black;
}

#list_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li_nav {
    list-style-type: none;
}

.lien_nav {
    text-decoration: none;
    color: beige;
    font-family: none;
}

.lien_nav:hover {
    color: rgb(158, 164, 171);
    text-shadow: 2px 2px 2px black;
}

/* ___________________________________________SECTION 1 / HOME___________________________________________ */

#section1 {
    background-image: url("../img/img_fond/fond2.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 890px;
}

/* ---------------DIV AVEC LE TITRE / LE PARAGRAPHE / LE BOUTON POUR DESCENDRE */
#titre_para_bouton {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------TITRE1 */
#titre_section1 {
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 2px black;
    color: beige;
    font-size: 5em;
    letter-spacing: 0.8em;
    margin-bottom: 2%;
    padding-left: 4%;
}

/* -------------------PARAGRAPHE */
#para_section1 {
    color: beige;
    padding-bottom: 1%;
    width: 30%;
    text-align: center;
    font-family: none;
}

/* ----------------BOUTON POUR DESCENDRE*/
#bouton_section1 {
    background-color: beige;
    border: 2px solid rgb(53, 53, 53);
    width: 10%;
    height: 100%;
    border-radius: 10px;
    height: 4%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bouton_section1:hover {
    box-shadow: 2px 2px 10px black;
}

/* ---------------LIENS DU BOUTON */
#lien_bouton {
    height: 100%;
    text-decoration: none;
    color: grey;
}

#lien_bouton:hover {
    color: black;
}


/* ___________________________________________COMPéTENCES___________________________________________ */
aside {
    background: linear-gradient(rgb(56, 77, 81), rgb(158, 164, 171));
    padding-top: 10%;
}

/* -------------------TITRE DES COMPéTENCES */
#titre_aside {
    text-align: center;
    font-size: 2.8em;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
    color: beige;
}

/*  ---------------PARAGRAPHE ABOUT ME */
#para_about {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 1.2em;
    color: beige;
}

/*-------------------- POSITIONNEMENT DE L'IMAGE ET DES BARRES DE PROGRESSION  */
#competences {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 4%;
    margin-left: 1%;
}

/* -----------------IMAGE */
#img_aside {
    width: 50%;
    height: 50%;
    border-radius: 100px;
}

/* -----------------LES BARRES DE PROGRESSION */
.barre_de_progression {
    margin: 5%;
    width: 500px;
    height: 35px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.barre_de_progression:before {
    content: '';
    display: block;
    width: 200px;
    height: 35px;
    background: beige;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.barre_de_progression:after {
    content: '|||||||||||||';
    display: block;
    position: relative;
    bottom: 35px;
    width: 200px;
    height: 35px;
    overflow: hidden;
    border-radius: 12px;
    transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

/* -----------------LES DIFFERENTES BARRES DE PROGRESSION */
/* BARRE HTML */
#barre_html:before {
    width: 300px;
}

/* BARRE CSS */
#barre_css:before {
    width: 250px;
}

/* BARRE JAVASCRIPT */
#barre_javascript:before {
    width: 100px;
}

/* BARRE PHP */
#barre_php:before {
    width: 25px;
}

/* BARRE MYSQL */
#barre_mysql:before {
    width: 25px;
}

/* ______________________________________________PORTFOLIO___________________________________________________ */
#section_portfolio {
    background-image: linear-gradient(rgb(158, 164, 171), rgb(67, 86, 97));
    height: 573px;
    padding-top: 10%;
    padding-bottom: 15%;
}

/* ---------------------------TITRE PORTFOLIO */
#titre_portfolio {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: beige;
    font-size: 2.8em;
    font-family: sans-serif;
}

/* ----------------------------BLOC DE PROJET */
#bloc_projet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-right: 2.5%;
}

/* ------------------------------------POUR LE HOVER DES PROJETS DU PORTFOLIO */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    /* -webkit-transform: perspective(1px) translateZ(0); */
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /* -webkit-transition-duration: 0.3s; */
    transition-duration: 0.3s;
    /* -webkit-transition-property: box-shadow, transform; */
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    /* -webkit-transform: scale(1.1); */
    transform: scale(1.1);
    border-radius: 10%;
}

/* -----------------------IMAGE PROJET */
.img_projet {
    padding: 5%;
    border-radius: 10%;
    width: 350px;
    height: 300px;
}

/* ------------------------PARAGRAPHE PROJET */
#para_projet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#para_projet>p {
    width: 30%;
    height: 30%;
    padding-top: 2%;
    text-align: center;
}

/* ________________________________________________CONTACT___________________________________________________ */
#section_contact {
    background-image: url('../img/img/img_route2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 10%;
}

/* -----------------------TITRE CONTACT */
#titre_section_contact {
    padding-top: 10%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: beige;
    font-size: 2.8em;
    font-family: sans-serif;
}

/* ----------------------------------DIV DU FORMULAIRE */
#bloc_form {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------CHAMPS DES INPUT */
.champs {
    box-shadow: 0px 0px 10px 10px lightgrey;
    height: 18%;
}

.champs_formulaire {
    background-color: rgba(211, 211, 211, 0.808);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    padding-top: 5%;
    width: 800px;
    border-radius: 5px;
}


/* --------------------INPUT TYPE TEXT */
input[type="text"] {
    padding: 1%;
    margin: 1%;
    width: 80%;
    background-color: rgba(211, 211, 211, 0.808);
    border: 2px solid rgba(13, 28, 29, 0.685);
    border-radius: 5px;
}

/* ---------------------TEXTAREA */
textarea {
    resize: none;
    margin: 2%;
    background-color: rgba(211, 211, 211, 0.808);
    border: 2px solid rgba(13, 28, 29, 0.685);
    border-radius: 5px;
}

.champ_textarea {
    height: 40%;
}

/* ---------------BOUTON SUBMIT */
#bouton_formulaire {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    border-radius: 5px;
    width: 20%;
    height: 50px;
    background-color: rgba(211, 211, 211, 0.808);
    border: 2px solid rgba(13, 28, 29, 0.685);
}

/* ----------------PARAGRAPHE DU BOUTON DU FORMULAIRE */
#p_bouton_formulaire {
    color: rgb(88, 88, 88);
}

#p_bouton_formulaire:hover {
    box-shadow: 0px 0px 10px 5px lightgrey;
    color: black;
}


/* ________________________________________________FOOTER__________________________________________________ */
footer {
    background-color: rgba(196, 196, 196, 0.808);
    width: 100%;
    height: 100%;
}

/* ------------------BLOC DES DIV DES INFORMATION */
#mes_infos {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* ----------------DIV DES INFORMATION */
.infos_footer {
    box-shadow: 5px 10px 10px 0px rgb(155, 155, 155);
    border-radius: 10px;
    background-color: rgba(158, 164, 171, 0.404);
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(13, 28, 29, 0.685);
}

.infos_footer>a {
    width: 100%;
    text-align: center;
}